*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    display: block;
    position:relative;
    width: 100%;
    margin: auto;
    background-color: darkslategray;
    padding: 2px 0;
    margin-bottom: 0;
}

.list-footer{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit,minmax(
        100px,1fr
    ));
    gap: 1rem;
}

.footer-item{
    list-style: none;
    color:#fff;
}
