.home-container{
    width: 100%;
    height: 100vh;
    margin: auto;
}
.image-section{
    width: 90%;
    height: 50%;
    margin: auto;
    margin-top: 4rem;
    background-image: url(../images/e-commerce.png);
}

.cards-section{
    width: 90%;
    height: 40%;
    margin: auto;
    margin-top: 1rem;
    background-color: #232323;
}