*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainProducts-section{
    display: flex;
    justify-content: space-between;
}

.products-main{
    max-width: 90%;
    display: grid;
    justify-content: center;
    margin-bottom: 2rem;
}

.list-products{
    display: grid;
    padding: 4px 2px;
    margin-top: 4rem;
    grid-template-columns: repeat(auto-fit,
    minmax(
        150px, 1fr
    ));
    gap: 1rem;
}

.cart-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    padding: 0 1rem;
    width: 30%;
    margin-top: 10rem;
    margin-right: 2rem;
    height: fit-content;
    align-items: center;
    left: 0;
}


.cart-detail{
    display: inline-flex;
}
